extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 Contact Us
        p Information about how to contact us will go here.

        a.btn.btn-primary(href='#') Get in touch
