extends layout

block content
  .main.container.text-xs-center
    h1.display-3 Organize your business.
    p.lead Inventory management that's tailored for you!
    a.btn.btn-info-outline.btn-lg(href='/register') Get Started for FREE
    a.btn.btn-info-outline.btn-lg(href='/company') Company Login
