doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/modal.css')
  body
    #id01.modal
      form.modal-content.animate(action='/action_page.php')
        .imgcontainer
          span.close(onclick="document.getElementById('id01').style.display='none'", title='Close Modal') ×
          img.avatar(src='img_avatar2.png', alt='Avatar')
        .container
          label
            b Username
          input(type='text', placeholder='Enter Username', name='uname', required='')
          label
            b Password
          input(type='password', placeholder='Enter Password', name='psw', required='')
          button(type='submit') Login
          input(type='checkbox', checked='checked')
          |  Remember me
        .container(style='background-color:#f1f1f1')
          button.cancelbtn(type='button', onclick="document.getElementById('id01').style.display='none'") Cancel
          span.psw
            | Forgot
            a(href='#') password?
  script.
    // Get the modal
    var modal = document.getElementById('id01');
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
    if (event.target == modal) {
    modal.style.display = "none";
    }
    }
